.comentario {
    width: 100%;
    height: fit-content;
    /* background-color: grey; */
    display: flex;
    flex-direction: row;
    padding: 15px;
}

.autorImg {
    width: 6vw;
    height: 5vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-right: 5px;
    padding: 8px;
}

.autorImg>img {
    max-width: 3vw;
    height: 3vw;
    object-fit: cover;
}

.content {
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content>a {
    cursor: default;
}

.autorName {
    width: 100%;
    height: 20%;
    font: 2em;
}

.comment {
    margin-top: 3%;
    min-height: 40%;
}

.rodape {
    display: flex;
    height: 20%;
}

.data {
    width: fit-content;
    right: 2px;
    position: absolute;
}

.rate {
    width: 20%;
    height: inherit;
}

.editar {
    width: 10%;
}

.excluir:hover {
    color: #ff0000;
    cursor: pointer;
}

.avaliacao {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
}

.nota {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: absolute;
    height: 4vh;
}

.star-icon {
    color: #ffe500;
    width: 23px;
    font-size: 30px;
}