.title {
  width: 100%;
  margin-bottom: 2vh;
  font: 2.5em bold;
}

.details {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: row;
  margin: 3vh 0;
  text-align: justify;
}

.content {
  width: 70%;
  height: 100%;
}

.image {
  width: 30%;
  height: 100%;
}

.image>img {
  max-width: 100%;
  height: 100%;
}

.description {
  width: 100%;
  height: 100%;
  word-break: break-word;
  display: flex;
  flex-direction: column;
}

table {
  font-size: 20px;
  text-align: center;
}

a {
  text-decoration: none;
  color: #fff;
}

button {
  overflow: hidden;
  min-width: 15vw;
  height: 8vh;
  background: #696969;
  display: block;
  padding: 0.8vh 0.4vw;
  text-align: center;
  font: 600 1.5em 'Poppins', sans-serif;
  color: #fff;
  border: 0px solid transparent;
}

button:hover {
  cursor: pointer;
  border: 0.07em solid #000;
  background: #1c1c1c;
}