.div-file {
  margin: 0 auto;
  min-width: 100%;
  display: flex;
}

.input-file {
  display: none;
}

.div-input-file {
  overflow: hidden;
  white-space: nowrap;
  background-color: #e7e0e0;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4vh;
  text-align: center;
  width: 50%;
  border: 1px solid transparent;
  border-radius: 3px;
}

.div-input-file:hover {
  cursor: pointer;
  border: 1px solid #000000d6;
}

.input-personalizado {
  cursor: pointer;
}

.botao-selecionar {
  font: 100 1rem 'Poppins', sans-serif;
  padding: 0 0;
}

img {
  max-height: 100%;
  max-width: 4.34vh;
  margin-left: 1%;
  border-radius: 3px;
}